[build]
  command = "npm install -g netlify-cli && pip install -r requirements.txt"
  functions = "functions"
  publish = "app/static"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
